.header {
    border-bottom: rem(1) solid $border-color;
    &-wrapper {
        padding: .5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        @media (max-width: $md) {
            padding: 1rem 0;
        }
    }
    &-menu {
        display: flex;
        align-items: stretch;
        gap: 1.5rem;
        @media (max-width: $md) {
            gap: .5rem;
        }
        li {
            border-left: rem(1) solid $border-color;
            padding-left: 1.5rem;
            a {
                padding: 2rem 0;
                @include flexCenter();
                gap: .5rem;
                color: $primary-color;
                text-decoration: none;
                font-size: rem(16);
                line-height: rem(22);
                font-weight: 800;
                transition-duration: .15s;
                svg {
                    fill: $highlight-color-blue;
                    transition-duration: .15s;
                }
                &:hover {
                    color: $highlight-color-blue;
                }
            }
            @media (max-width: $md) {
                border: 0;
                padding: 0;
                a {
                    padding: .75rem;
                    background-color: $section-color-blue;
                    border-radius: $radius;
                    transition-duration: .15s;
                    &:hover {
                        background-color: $highlight-color-blue;
                        svg {
                            fill: $secondary-color;
                        }
                    }
                    span {
                        display: none;
                    }    
                }
                
            }
        }
    }
}