.pagination {
    &-wrapper {
        @include flexCenter();
        flex-wrap: wrap;
        gap: 2rem 4rem;
        @media (max-width: $lg) {
            flex-direction: column-reverse;
        }
    }
    &-perPage {
        @include flexCenter();
        flex-wrap: wrap;
        gap: .25rem 1rem;
        ul {
            @include flexCenter();
            font-weight: 700;
            font-size: rem(15);
            line-height: rem(22);
            li {
                &:not(:last-child) {
                    &::after {
                        padding: 0 .35rem 0 .2rem;
                        content: "|";
                        font-weight: 500;
                    }
                }
                a {
                    color: $primary-color;
                    text-decoration: none;
                    transition-duration: .15s;
                    &:hover {
                        color: $highlight-color-blue;
                    }
                }
            }
        }
    }
    &-pages {
        ul {
            @include flexCenter();
            a {
                font-size: rem(15);
                font-weight: 500;
                line-height: rem(29);
                transition-duration: .15s;
                color: $primary-color;
                text-decoration: none;
                &:hover, &.active {
                    color: $highlight-color-blue;
                }
                &.arrow {
                    @include flexCenter();
                    width: rem(29);
                    line-height: rem(28);
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    border: rem(1) solid $border-color;
                    border-color: $highlight-color-blue;
                    background-color: $highlight-color-blue;
                    margin: 0 .8rem;
                }
            }
            li {
                &.num:not(:last-child) {
                    &::after {
                        padding: 0 .5rem 0;
                        content: "|";
                        font-weight: 500;
                    }
                }
            }
            li:first-child {
                a.arrow {
                    img, svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}