$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$xxl: 1475px;
$xxxl: 1800px;

$section-color-gray: #f7f6f6;
$section-color-blue: #ecf5fa;

$primary-color: #000;
$secondary-color: #fff;

$border-color: #e6e6e6;

$highlight-color-blue: #0a74af;
$highlight-color-red: #ff2e2b;

$radius: 5px;

$font: "DM Sans", sans-serif;